<iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450" src="https://embed.figma.com/design/iOSsVHaZkTZJbdkLWQTrba/SoleMate?node-id=0-1&embed-host=share" allowfullscreen></iframe>

#The above is the embeded code for the landing page

color codes
#F8F5F2
#E3D5CA
#8B5E3C